<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
    <select id="getMemberById" resultType="com.example.demo.entity.MemberEntity" parameterType="int">
        SELECT * FROM member WHERE id = #{id}
    </select>
    <insert id="registerMember" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.demo.entity.MemberEntity">
        insert into member(name, password, email, phone, address, city, state, zipcode, dateOfBirth, gender, occupation, maritalStatus, education)
            values (#{name}, #{password}, #{email}, #{phone}, #{address}, #{city}, #{state}, #{zipcode}, #{dateOfBirth}, #{gender}, #{occupation}, #{maritalStatus}, #{education})
    </insert>
    <!--member list -->
    <select id="getMemberList" resultType="com.example.demo.entity.MemberEntity">
        SELECT * FROM member
    </select>
</mapper>